@charset "UTF-8";
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: radial-gradient(circle, #f3f4f6, #a8a8a8, #575757);
        }
        .wrapper {
            width: 420px;
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
            background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            border: 2px solid rgba(255, 255, 255, .2);
            backdrop-filter: blur(15px); /* Blur effect */
            text-align: center;
        }
        .wrapper h2 {
            font-size: 28px;
            margin-bottom: 10px;
        }
        .wrapper p {
            margin-bottom: 20px;
            color: #ddd;
        }
        .wrapper label {
            display: block;
            margin-bottom: 5px;
            color: #ddd;
            font-size: 16px;
            text-align: left;
        }
        .input-box {
            position: relative;
            width: 100%;
            height: 50px;
            margin: 20px 0;
        }
        .input-box input, .input-box select {
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border: 2px solid rgba(255, 255, 255, .2);
            border-radius: 40px;
            font-size: 16px;
            color: #fff;
            padding: 0 20px;
        }
        .input-box input::placeholder, .input-box select {
            color: #ddd;
        }
        .btn {
            width: 100%;
            height: 45px;
            background: #fff;
            border: none;
            outline: none;
            border-radius: 40px;
            cursor: pointer;
            font-size: 16px;
            color: #333;
            font-weight: 600;
            box-shadow: 0 4px 10px rgba(255, 255, 255, .2);
            margin-top: 20px;
        }